/* ======== COLORES Y ESTILOS GENERALES ======== */
ion-content,
ion-toolbar {
  --background: #ffffff;
}


/* ======== CENTRADO GENERAL ======== */
.no-padding {
  --padding-top: 0;
  --padding-bottom: 0;
}

.contenedor-botones {
  height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-grid {
  width: 100%;
  max-width: 400px;
}

ion-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ======== BOTONES CON IMAGEN Y TEXTO ======== */
.boton-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.boton-texto {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 6px;
}

.custom-btn {
  --background: transparent;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  --ripple-color: rgba(0, 0, 0, 0.2);
  --ripple-scale: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-btn img {
  width: 130%;
  height: 130%;
  object-fit: contain;
  pointer-events: none;
}
