<app-tarjeta-evento
  [titulo]="'Festival Cultural'"
  [imagen]="'assets/pag-eventos/cultural_plano.png'"
  [info]="[
    {etiqueta:'Hora', valor:'5:00 pm - 8:00 pm'},
    {etiqueta:'Lugar', valor:'Auditorio Principal'},
    {etiqueta:'Descripción', valor:'Presentaciones de música, danza y teatro preparadas por estudiantes y docentes.'},
    {etiqueta:'Requisitos', valor:'Entrada libre con registro previo en la app'},
    {etiqueta:'Asistentes', valor:'98 usuarios registrados.'},
    {etiqueta:'Precio', valor:'Gratuito.'}
  ]"
  [mostrarCheckbox]="true"
  [mostrarBotones]="true"
  [esGratuito]="true">

</app-tarjeta-evento>
