<ion-header>
  <ion-toolbar>
    <div class="main_logo">
      <img src="assets/main%20logo.png" alt="Logo" class="logo-img">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-content></ng-content>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="'/pag-inicio'">
      <img src="assets/icons/home.svg" alt="Home" class="icono-footer">
      <ion-label></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="calendar" [routerLink]="'/pag-calendario'">
      <img src="assets/icons/calendar.svg" alt="Calendario" class="icono-footer">
      <ion-label></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="upload" [routerLink]="'/pag-subida-fotos'">
      <img src="assets/icons/upload.svg" alt="Fotos" class="icono-footer">
      <ion-label></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="phone" [routerLink]="'/pag-contacto'">
      <img src="assets/icons/phone.svg" alt="Teléfono" class="icono-footer">
      <ion-label></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" [routerLink]="'/pag-perfil'">
      <img src="assets/icons/profile.svg" alt="Perfil" class="icono-footer">
      <ion-label></ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
