ion-content,
ion-toolbar {
  --background: #ffffff;
}

ion-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}


.main_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}

.logo-img {
  height: 80px;
  object-fit: contain;
}

ion-footer {
  --background: #ffffff;
}




/* Sin esto el fondo seguía sin verse blanco */
ion-tab-bar {
  --background: #ffffff;
  --color: #000000;
  --color-selected: #3880ff;
}

.icono-footer {
  width: 28px;
  height: auto;
  margin-top: 8px;
  transition: transform 0.2s ease, filter 0.2s ease;
}

ion-tab-button.tab-selected .icono-footer {
  transform: scale(1.1);
  filter: brightness(1.3);
}

.contenido-dinamico {
  flex: 1; /* ocupa todo el espacio entre header y footer */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* o center si quieres centrar verticalmente */
  background-color: #ffffff;   /* asegura fondo blanco */
}

:host {
  display: flex;
  flex-direction: column;
  height: 100vh; /* hace que todo el componente ocupe la altura de la ventana */
}

ion-content {
  flex: 1; /* ocupa todo el espacio entre header y footer */
  display: flex;
  flex-direction: column;
  background-color: #ffffff; /* asegura fondo blanco */
}
