<app-tarjeta-evento
  [titulo]="'Festival Cultural'"
  [imagen]="'assets/eventos/cultural_plano.png'"
  [info]="[
    {icono:'📅', etiqueta:'Hora', valor:'5:00 pm - 8:00 pm'},
    {icono:'📍', etiqueta:'Lugar', valor:'Auditorio Principal'},
    {icono:'ℹ️', etiqueta:'Descripción', valor:'Presentaciones de música, danza y teatro preparadas por estudiantes y docentes.'},
    {icono:'✅', etiqueta:'Requisitos', valor:'Entrada libre con registro previo en la app'},
    {icono:'👤', etiqueta:'Asistentes', valor:'98 usuarios registrados.'},
    {icono:'💵', etiqueta:'Precio', valor:'Gratuito.'}
  ]"
  [mostrarCheckbox]="true"
  [mostrarBotones]="true">
</app-tarjeta-evento>
