.titulo{
  text-align: center;
  color: black;
  font-weight: bold;
}



/* Contenedor de la tarjeta */
.login-card {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 16px;
  margin-top: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Estilo de los labels dentro de los ion-item */
.login-card ion-label {
  color: #000000;
  font-weight: 500;
}

/* Estilizar los ion-item que contienen los inputs */
.login-card ion-item {
  --background: #ffffff;
  --border-color: #cccccc;
  --border-radius: 8px;
  margin-bottom: 12px;
}

/* Estilizar el texto dentro del input */
.login-card ion-input {
  color: #000000;           /* texto negro */
  --placeholder-color: #888888;
}

/* Estilizar el texto dentro del textarea (Mensaje) */
.login-card ion-textarea {
  color: #000000; /* texto negro */
  --placeholder-color: #888888;
  --background: #ffffff;
  --padding-start: 8px;
  --padding-end: 8px;
}


/* ==== BOTONES CREAR Y ARCHIVAR ==== */

/* Estado normal */
.boton-crear,
.boton-archivar {
  --background: #2BA2C8;
  --color: white;
  transition: background 0.3s ease;
  border-radius: 10px;
}

/* estado válido */
.boton-crear.form-valido,
.boton-archivar.form-valido {
  --background: #28a745;
}

/* estado click */
.boton-crear:active,
.boton-archivar:active {
  --background: #93C1DB;
}



