<app-plantilla>
  <div class="listado-notificaciones">
    <div>
      <p class="titulo"> Notificaciones</p>
      <p class="subtexto">Aqui tienes tus últimas notificaciones</p>
    </div>


    <div class="tarjeta-notificacion">
      <p class="titulo-notificacion">Evento deportivo</p>
      <p class="detalle-notificacion">¡Ya queda poco! Recuerda tenerlo todo listo para el día del evento</p>
    </div>

    <div class="tarjeta-notificacion">
      <p class="titulo-notificacion">¿Has subido tus fotos?</p>
      <p class="detalle-notificacion">¡Recuerda compartir las fotos de tus últimos eventos!</p>
    </div>


    <div class="tarjeta-notificacion">
      <p class="titulo-notificacion">Últimas plazas disponibles</p>
      <p class="detalle-notificacion">Quedan muy pocos cupos para un nuevo evento. Reserva ahora antes que se agoten.</p>
    </div>


    <div class="tarjeta-notificacion">
      <p class="titulo-notificacion">Evento recomendado para ti</p>
      <p class="detalle-notificacion">Hemos detectado un evento que encaja mucho contigo. Revisa los detalles.</p>
    </div>

    <div class="tarjeta-notificacion">
      <p class="titulo-notificacion">Próximo evento en proceso</p>
      <p class="detalle-notificacion">Queda poco para tu próximo evento marcado, estate atento a las novedades.</p>
    </div>


    <div class="tarjeta-notificacion">
      <p class="titulo-notificacion">Tu opinión importa</p>
      <p class="detalle-notificacion">¿Qué te pareció la última actividad? Tu feedback nos ayuda a mejorar.</p>
    </div>

  </div>



</app-plantilla>
