<app-plantilla>

  <div class="ion-text-center ion-padding">
    <p class="titulo">Galería</p>
    <ion-button (click)="capturarFoto()" fill="clear" size="small">
      <ion-icon name="camera" slot="start"></ion-icon>
      Hacer foto
    </ion-button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let foto of fotos; let i = index">
        <img [src]="foto" class="foto-galeria" (click)="abrirFoto(i)">
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="boton-subir">
    <ion-button
      class="boton-subir-btn"
      [routerLink]="'/pag-subida-fotos'">
      Subir fotos
    </ion-button>
  </div>

  <ion-modal [isOpen]="mostrarModal" (didDismiss)="cerrarModal()">
    <ng-template>
      <div class="visor-modal">

        <img [src]="fotoSeleccionada" class="foto-grande">

        <img src="../../../assets/icons/cerrar.png"
             class="btn-cerrar"
             (click)="cerrarModal()">

        <img src="../../../assets/icons/flecha-izquierda.png"
             class="flecha-izq"
             (click)="fotoAnterior()">

        <img src="../../../assets/icons/flecha-derecha.png"
             class="flecha-der"
             (click)="fotoSiguiente()">

      </div>
    </ng-template>
  </ion-modal>

</app-plantilla>
