
.titulo_eventos{
  text-align: center;
  color: black;
  font-weight: bold;
}

.imagen_evento {
  display: block;
  margin: 0 auto; /* centra la imagen */
  width: 90%; /* ocupa la mayor parte del ancho */
  max-width: 400px; /* límite máximo */
  border-radius: 15px; /* redondea las esquinas */
  object-fit: cover; /* mantiene proporción */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* sombra suave */
}


.info-evento {
  display: block;
  margin: 0 auto; /* centra la imagen */
  width: 90%;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 16px;
  margin-top: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.info-evento ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-evento li {
  margin-bottom: 8px;
  font-size: 16px;
  color: black;
  line-height: 1.2;
}


.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 95%;
  max-width: 600px;
}

.checkbox-notificaciones {
  --background: #ffffff;
  --border-color: transparent;
  width: 100%;
}

.checkbox-notificaciones ion-label {
  color: #333333;
  font-size: 14px;
  margin-left: 2px;
}

.boton-interesa, .boton-registrar, .boton-pagar {
  display: block;
  width: 90%;
  max-width: 400px;
  margin: 8px auto;
}

.boton-interesa ion-button {
  --background: #93C1DB;
  --color: #ffffff;
}

/* Al pulsar, cambia a verde */
.boton-registrar ion-button.registrado {
  --background: #28a745; /* Verde éxito */
  --color: #ffffff;
}

.boton-registrar ion-button,
.boton-pagar ion-button {
  --background: #2BA2C8;
  --color: #ffffff;
}











