<app-plantilla>

  <!-- Título del evento -->
  <div>
    <p class="titulo_eventos">{{ titulo }}</p>
  </div>

  <!-- Imagen -->
  <div>
    <img [src]="imagen" alt="{{ titulo }}" class="imagen_evento">
  </div>

  <!-- Información -->
  <div class="info-evento">
    <ul>
      <li *ngFor="let item of info">
        {{ item.icono }} <strong>{{ item.etiqueta }}:</strong> {{ item.valor }}
      </li>
    </ul>
  </div>

  <!-- Checkbox -->
  <div class="checkbox-container" *ngIf="mostrarCheckbox">
    <ion-item class="checkbox-notificaciones" lines="none">
      <ion-checkbox slot="start" [(ngModel)]="recibirNotificaciones"></ion-checkbox>
      <ion-label>¿Quieres recibir notificaciones de cambios?</ion-label>
    </ion-item>
  </div>

  <!-- Botones -->
  <div *ngIf="mostrarBotones">

    <div class="boton-pagar" *ngIf="!esGratuito">
      <ion-button expand="block" [routerLink]="'/pag-pago'">Pagar</ion-button>
    </div>

    <div class="boton-registrar" *ngIf="esGratuito">
      <ion-button
        expand="block"
        (click)="registrarEvento()"
        [ngClass]="{'registrado': registrado}">
        {{ registrado ? 'Registrado' : 'Registrar' }}
      </ion-button>
    </div>

    <div class="boton-registrar">
      <ion-button
        expand="block"
        [ngClass]="{'registrado': registrado}">
        {{ registrado ? 'Registrado' : 'Modificar' }}
      </ion-button>
    </div>

    <div class="boton-registrar">
      <ion-button
        expand="block"

        [ngClass]="{'registrado': registrado}">
        {{ registrado ? 'Registrado' : 'Eliminar' }}
      </ion-button>
    </div>
  </div>

</app-plantilla>
