  <app-tarjeta-evento
    *ngIf="evento"
    [id] = "evento.id"
    [titulo]="evento.nombre"
    [imagen]="evento.urlImagen || 'assets/pag-eventos/generico.jpg'"
    [info]="[
    {etiqueta:'Fecha', valor: (evento.fecha ? evento.fecha.replace('T', ' ') : '') },
    { etiqueta:'Lugar', valor: evento.lugar},
    { etiqueta:'Descripción', valor: evento.descripcion},
    { etiqueta: 'Requisitos', valor: evento.requisitos},
    { etiqueta:'Precio', valor: evento.precio ? evento.precio + ' €' : 'Gratuito'}
  ]"
    [mostrarCheckbox]="true"
    [mostrarBotones]="true"
    [esGratuito]="!evento.precio || evento.precio === 0">
  </app-tarjeta-evento>

