<ion-header>
  <ion-toolbar>
    <div class="main_logo">
      <img src="../../../assets/main%20logo.png" alt="Logo" class="logo-img">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-content></ng-content>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-bar">
      <a routerLink="/pag-inicio">
        <img src="../../../assets/icons/home.svg" class="icono-footer">
      </a>

      <a routerLink="/pag-calendario">
        <img src="../../../assets/icons/calendar.svg" class="icono-footer">
      </a>

      <a routerLink="/pag-notificaciones">
        <img src="../../../assets/icons/notificacion.png" class="icono-footer">
      </a>

      <a routerLink="/pag-contacto">
        <img src="../../../assets/icons/phone.svg" class="icono-footer">
      </a>

      <a routerLink="/pag-perfil">
        <img src="../../../assets/icons/profile.svg" class="icono-footer">
      </a>
    </div>
  </ion-toolbar>
</ion-footer>

