<app-plantilla>

  <div class="ion-text-center ion-padding">
    <p class="titulo">Subida de fotos</p>
    <p class="descripcion">Sube aquí tus fotos favoritas</p>
  </div>

  <ion-card class="campo-card">
    <ion-card-content>
      <ion-label position="stacked">Selecciona un evento</ion-label>

      <ion-select
        placeholder="Lista de eventos"
        name="evento"
        [(ngModel)]="eventoSeleccionado">
        <ion-select-option value="ciencias">Feria de ciencias</ion-select-option>
        <ion-select-option value="cultural">Festival Cultural</ion-select-option>
        <ion-select-option value="deportivo">Torneo deportivo</ion-select-option>
      </ion-select>
    </ion-card-content>
  </ion-card>

  <!-- ZONA DE CÁMARA -->
  <ion-card class="upload-area">
    <ion-card-content>
      <img src="../../../assets/icons/camara.png" class="icono-camera">

      <p class="texto-upload">Pulsa para hacer una foto</p>
      <p class="info">La imagen se guardará en el dispositivo</p>

      <ion-button fill="clear" (click)="abrirCamara()">
        Abrir cámara
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="campo-card">
    <ion-card-content>
      <ion-label position="stacked">Descripción (opcional)</ion-label>
      <ion-input
        placeholder="Comparte detalles sobre las fotos..."
        [(ngModel)]="descripcion">
      </ion-input>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    <ion-button
      class="boton-subir"
      expand="block"
      (click)="subirFotos()">
      Subir fotos
    </ion-button>
  </div>

</app-plantilla>
