
  <app-tarjeta-evento
    [titulo]="'Feria de Ciencias'"
    [imagen]="'assets/pag-eventos/ciencias_plano.png'"
    [info]="[
    {etiqueta:'Hora', valor:'10:00 am – 2:00 pm'},
    {etiqueta:'Lugar', valor:'Gimnasio Escolar'},
    {etiqueta:'Descripción', valor:'Exhibición de proyectos científicos.'},
    {etiqueta:'Requisitos', valor:'Registro antes del 5 de octubre.'},
    {etiqueta:'Asistentes', valor:'102 usuarios registrados'},
    {etiqueta:'Precio', valor:'8€'}
  ]"
    [mostrarCheckbox]="true"
    [mostrarBotones]="true">
  </app-tarjeta-evento>


