<app-tarjeta-evento
  [titulo]="'Torneo Deportivo'"
  [imagen]="'assets/pag-eventos/deportivo_plano.png'"
  [info]="[
    {etiqueta:'Hora', valor:'9:00 am - 1:00pm'},
    {etiqueta:'Lugar', valor:'Canchas de la preparatoria'},
    {etiqueta:'Descripción', valor:'Competición entre equipos mixtos.'},
    {etiqueta:'Requisitos', valor:'Inscripción de equipos antes del 12 de octubre'},
    {etiqueta:'Asistentes', valor:'119 usuarios registrados.'},
    {etiqueta:'Precio', valor:'Gratuito.'}
  ]"
  [mostrarCheckbox]="true"
  [mostrarBotones]="true"
  [esGratuito]="true">

</app-tarjeta-evento>
