<app-plantilla>
  <div>
    <p class="titulo_eventos">Próximos Eventos</p>
  </div>

  <div class="eventos">

    <div class="evento1" [routerLink]="'/evento-ciencias'">
      <img src="assets/eventos/ciencias1.png" alt="Evento 1" class="imagen-evento">
    </div>

    <div class="evento2" [routerLink]="'/evento-deportivo'">
      <img src="assets/eventos/deportivo2.png" alt="Evento 2" class="imagen-evento">
    </div>

    <div class="evento3" [routerLink]="'/evento-cultural'">
      <img src="assets/eventos/cultural3.png" alt="Evento 3" class="imagen-evento">
    </div>

  </div>
</app-plantilla>

