
  <app-tarjeta-evento
    [titulo]="'Feria de Ciencias'"
    [imagen]="'assets/pag-eventos/ciencias_plano.png'"
    [info]="[
    {icono:'📅', etiqueta:'Hora', valor:'10:00 am – 2:00 pm'},
    {icono:'📍', etiqueta:'Lugar', valor:'Gimnasio Escolar'},
    {icono:'ℹ️', etiqueta:'Descripción', valor:'Exhibición de proyectos científicos.'},
    {icono:'✅', etiqueta:'Requisitos', valor:'Registro antes del 5 de octubre.'},
    {icono:'👤', etiqueta:'Asistentes', valor:'102 usuarios registrados'},
    {icono:'💵', etiqueta:'Precio', valor:'8€'}
  ]"
    [mostrarCheckbox]="true"
    [mostrarBotones]="true">
  </app-tarjeta-evento>


