<app-tarjeta-evento
  [titulo]="'Torneo Deportivo'"
  [imagen]="'assets/eventos/deportivo_plano.png'"
  [info]="[
    {icono:'📅', etiqueta:'Hora', valor:'9:00 am - 1:00pm'},
    {icono:'📍', etiqueta:'Lugar', valor:'Canchas de la preparatoria'},
    {icono:'ℹ️', etiqueta:'Descripción', valor:'Competición entre equipos mixtos.'},
    {icono:'✅', etiqueta:'Requisitos', valor:'Inscripción de equipos antes del 12 de octubre'},
    {icono:'👤', etiqueta:'Asistentes', valor:'119 usuarios registrados.'},
    {icono:'💵', etiqueta:'Precio', valor:'Gratuito.'}
  ]"
  [mostrarCheckbox]="true"
  [mostrarBotones]="true">
</app-tarjeta-evento>
